/*Variables de color y fuentes*/
$bgColor: #F7F0F0; 
$bgboxColor: #484349; 
$textColor: #109648;
$btntextColor: #484349;
$textFont: "Poppins", sans-serif;

/*Font Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Mixins de media queries*/

@mixin tablets{
    @media screen and (min-width:768px) and (max-width: 1024px) { @content }
}
@mixin celulares{
    @media screen and (min-width:300px) and (max-width: 768px) { @content }
}

@mixin hover{
    @media (hover:hover){@content}
}