*{
    margin: 0;
    padding: 0;
}
html{
    background-color: $bgColor;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    font-family: $textFont;
}